extends modules/layout/_layout

prepend head
	title About
	meta(name="description", content="Описание страницы")

block header
	+header()
block footer
	+footer()
block content
	main.main
		section.s16 
			.s16__ibg.cmn-bg
				+picture('svg', `${assets}s13-bg`, 'sl')
			.container 
				.s16__title.h2 Перегородка – “стена”, пропускающая свет, которую #[span.text-primary с&nbsp;лёгкостью отодвинет  даже ребёнок]
				+picture-min('png', `${assets}s16-per`, `${assets}s16-per`, 'sl').s16__per
				.s16__i1.s16__i.s16__i-ttl Направляющие
				.s16__i2.s16__i.s16__i-ttl Бесшумные#[br] ролики
				.s16__i3.s16__i
					.s16__i-ttl Стекло
					.s16__i-descr 
						p Мы используем калёное#[br] стекло толщиной 4 мм,#[br] безопасное для детей
						ul 
							li матовое
							li прозрачное
							li тонированное
							li крашенное
							li зеркало
				.s16__i4.s16__i.s16__i-ttl Вертикальные #[br] и горизонтальные#[br] перемычки
				.s16__i5.s16__i.s16__i-ttl Итальянская#[br] фурнитура 
				.s16__i6.s16__i
					.s16__i-ttl Рамка/профиль
					.s16__i-descr 
						p Возможны различные#[br] варианты профиля: 
						ul 
							li с текстурой под дерево#[br] из плёнки или эко-шпона
							li гладкие эмалированные
				.s16__i7.s16__i
					.s16__i-ttl Сердечник#[br] из срощенной#[br] сосны без сучков
					.s16__i-descr 
						p Мы используем срощенную#[br] сосну, чтобы дерево#[br] не корёжилось со временем
				.s16__i8.s16__i
					.s16__i-ttl МДФ швейцарского#[br] производителя#[br] SWISS KRONO
					.s16__i-descr 
						p (мелко-дисперсная фракция)
				.s16__star 
					+icon('star').s16__star-icon
					.s16__star-text Раздвижные перегородки позволят вам #[strong разделить пространство, оставив комнаты светлыми и функциональными.] Такое решение намного выгоднее установки стены. 
		section.s17
			.container 
				.s17__title.h2 Сравнение алюминиевых #[br] и деревянных перегородок 
				ul(data-uk-switcher="swiping: false; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium;")
					li
						a(href="#")
					li
						a(href="#")
				ul.uk-switcher
					li.s17__item
						.s17__item-ibg.ibg 
							+picture(jpg, `${assets}s17-wood`)
						a(data-uk-switcher-item="next").s17__item-btn-next
							.s17__item-btn-next-text Алюминиевые перегородки
							+icon('angle-right')
						.s17__item-title Деревянные перегородки
						.s17__kinds
							.s17__kinds-title.s17__kinds-title--plus Плюсы:
							.s17__kinds-item Экологичность.
							.s17__kinds-item Статичность во время движения благодаря тому, что силовой каркас тяжелее алюминиевых аналогов.
							.s17__kinds-item Ощущение домашней обстановки и уюта. Хорошо подходит для установки в&nbsp;квартиры и частные дома.
							.s17__kinds-item Разные типы покрытия – экошпон (гладкий, структурный), натуральный шпон, покраска.
							.s17__kinds-item Задерживающая способность звука силового каркаса из деревянных составляющих превосходит аналоги из алюминия более чем в 3 раза.
							.s17__kinds-item.s17__kinds-item--mt Влагоустойчивость.
							.s17__kinds-item Упругость силового каркаса. Вследствие этого, от удара по&nbsp;стеклу (даже каленому), вероятность разбития невелика.
							.s17__kinds-item Шум от движения роликов конструкции не передается по&nbsp;корпусу перегородки.
							.s17__kinds-item Простота замены отдельных составляющих перегородки при&nbsp;порче в процессе эксплуатации.
							.s17__kinds-title.s17__kinds-title--minus Минусы:
							.s17__kinds-item Огнестойкость.
					li.s17__item.s17__item-2
						.s17__item-ibg.ibg 
							+picture(jpg, `${assets}s17-alum`)
						a(data-uk-switcher-item="next").s17__item-btn-next
							.s17__item-btn-next-text Деревянные перегородки
							+icon('angle-right')
						.s17__item-title Алюминиевые перегородки
						.s17__kinds
							.s17__kinds-set--1
								.s17__kinds-title.s17__kinds-title--plus Плюсы:
								.s17__kinds-item Огнестойкость.
								.s17__kinds-item Легкость силового каркаса.
								.s17__kinds-item Создает ощущение офисного помещения, хорошо подходит для установки в рабочие пространства.
								.s17__kinds-item.s17__kinds-item--mt Тонкий силовой контур.
								.s17__kinds-item Прочность конструкции.
								.s17__kinds-item Влагоустойчивость.
							.s17__kinds-set--2
								.s17__kinds-title.s17__kinds-title--minus Минусы:
								.s17__kinds-item Из покрытия – только покраска.
								.s17__kinds-item Шум от подвижных роликов конструкции передается по всему алюминиевому корпусу перегородки, усиливая шум при движении.
								.s17__kinds-item Случайное задевание о силовой алюминиевый каркас перегородки, создает ощущение, похожее на звон.
								.s17__kinds-item Недостаточная упругость силового алюминиевого каркаса перегородки. Вследствие этого, от удара по стеклу (даже каленому), велика вероятность разбития.
								.s17__kinds-item Задерживающая способность звука силового каркаса из алюминия уступает более чем в 3 раза аналогам из деревянных составляющих.
		section.s18 
			.s18__ibg.cmn-bg
				+picture('svg', `${assets}s18-bg`, 'sl')
			.container 
				.s18__title.h2 Виды перегородок
				.s18__widget 
					.s18__widget-title Каскадные перегородки
					.s18__widget-items
						.s18__widget-item
							.s18__widget-img.ibg
								+picture(jpg, `${assets}s18-i1`, `n`)
							.s18__play 
								a.s18__play-btn(href="#video" data-uk-toggle)
								.s18__play-text 
									p Смотреть видео обзор#[br] о&nbsp;строении каскадных перегородок
						.s18__widget-item
							.s18__widget-img.ibg
								+picture(jpg, `${assets}s18-i2`, `n`)
							.s18__play 
								a.s18__play-btn(href="#video" data-uk-toggle)
								.s18__play-text 
									p Смотреть видео обзор#[br] о&nbsp;строении каскадных перегородок
					a.s18__btn.btn.btn-outline-white(href="#") Посмотреть наши каскадные перегородки
		section.s19 
			.container 
				.s19__title.h2 Схема движения перегородок
				.s19__block 
					.s19__img.ibg 
						+picture(jpg, `${assets}s19-img`, 'n')
					+play-btn('Смотреть GIF о схемах<br> движения перегородок').s19__play
		section.s20 
			.container 
				.s20__title.h2 Изготовим любой нестандартный заказ под&nbsp;ваш запрос
				.s20__subtitle Мы уже делали:
				.s20__items 
					.s20__item
						.s20__item-img.ibg 
							+picture(jpg, `${assets}s20-i1`, 'n')
						.s20__item-text
							.s20__item-title Самая широкая перегородка
							.s20__item-subtitle 8 метров — зонирование столовой
					.s20__item
						.s20__item-img.ibg 
							+picture(jpg, `${assets}s20-i2`, 'n')
						.s20__item-text
							.s20__item-title Самая высокая перегородка
							.s20__item-subtitle 3,7 метра единым полотном#[br.d-lg-none] для салона красоты
		section.capture 
			.capture__ibg.ibg 
				+picture(jpg, `${assets}capture-bg`, 'sl')
			.container 
				.capture__title.h2 Хотите проконсультироваться#[br.d-none.d-lg-inline] по поводу перегородки?
				.capture__subtitle Оставьте заявку, и наш менеджер свяжется с вами
				form.capture__form
					.input-wrap.input-wrap--light 
						label.input-label Имя
						input.input(type="text" name="Имя")
					.input-wrap.input-wrap--light 
						label.input-label Телефон
						input.input.phone(type="tel" name="Телефон")
					.btn-solid-wrap 
						.btn-solid-red-sub
						button.capture__form-btn.btn.btn-solid-red(type="submit") ОСТАВИТЬ ЗАЯВКУ
		section.s21
			.container 
				+picture(png, `${assets}s9-bg-lg`, 'n').d-none.d-lg-block.s21__img-bg
				.s21__title.h2 Почему перегородка лучше стены?
				.s21__block
					.s21__block-num 01
					.s21__block-title Цена одинакова и у перегородки, и&nbsp;у&nbsp;стены, а вот функции – разные
					.s21__block-items
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i1`, 'n').s21__block-img
							.s21__block-descr #[strong Стену] вы строите навсегда, её будет #[strong тяжело разрушить.]
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i2`, 'n').s21__block-img
							.s21__block-descr Построив стену, вы сделаете комнату меньше и темнее. #[strong Перегородка же позволяет оставить комнату светлой и&nbsp;просторной]
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i3`, 'n').s21__block-img
							.s21__block-descr #[strong Перегородку] можно #[strong легко отодвинуть,] и&nbsp;она не будет заслонять проход — #[strong в&nbsp;комнатах будет светло] 
				.s21__block
					.s21__block-num 02
					.s21__block-title Перегородку можно поставить, даже&nbsp;если у&nbsp;вас натяжной потолок 
					.s21__block-subtitle Мы разработали технологию, благодаря которой без проблем ставим перегородки в квартиры с&nbsp;натяжными потолками
					.s21__block-items
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i4`, 'n').s21__block-img
							.s21__block-descr Проклеиваем потолок в том месте, где&nbsp;будет стоять брус
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i5`, 'n').s21__block-img
							.s21__block-descr Протыкаем потолок и&nbsp;сверлим бетон, чтобы&nbsp;закрепить закладной брус
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i6`, 'n').s21__block-img
							.s21__block-descr На закладной брус#[br] подвешиваем систему
					.s21__block-star.d-none.d-lg-flex
						+icon('star').s21__block-star-icon
						.s21__block-star-text Мы уже поставили перегородки#[br] в 40+ квартирах с натяжными потолками
						a.s21__block-star-btn.btn.btn-outline-secondary(href="#") Читать подробнее
				.s21__block
					.s21__block-num 03
					.s21__block-title Перегородка пропускает звук, но&nbsp;эту проблему можно решить 
					.s21__block-subtitle У перегородок действительно слабая звукоизоляция, потому что они предназначены для зонирования помещения: у&nbsp;них есть зазоры между створками и между перегородкой и полом
					.s21__block-items
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i7`, 'n').s21__block-img
							.s21__block-descr Чтобы решить проблему со&nbsp;звукоизоляцией, мы проклеиваем #[strong ворсистый уплотнитель] между створками: он #[strong сдерживает звук]
						.s21__block-item
							.s21__block-circle
								+picture(png, `${assets}s21-i8`, 'n').s21__block-img
							.s21__block-descr Также мы можем поставить #[strong стеклопакет] в&nbsp;перегородку: это #[strong полностью решит проблему со звуком]
						
		section.capture.capture--light 
			.capture__ibg.ibg 
				+picture(jpg, `${assets}capture-light-bg`, 'sl')
			.container 
				.capture__title.h2 Хотите проконсультироваться#[br.d-none.d-lg-inline] по поводу перегородки?
				.capture__subtitle Оставьте заявку, и наш менеджер свяжется с вами
				form.capture__form
					.input-wrap.input-wrap--dark
						label.input-label Имя
						input.input(type="text" name="Имя")
					.input-wrap.input-wrap-dark 
						label.input-label Телефон
						input.input.phone(type="tel" name="Телефон")
					.btn-solid-wrap 
						.btn-solid-primary-sub
						button.capture__form-btn.btn.btn-solid-primary(type="submit") Оставить заявку


				


