extends modules/layout/_layout

prepend head
	title Шаблон блога
	meta(name="description", content="Описание страницы")

block header
	+header(7)
block footer
	+footer()
block content
	main.main
		+breadcrumb([['Главная', '/'], ['Блог', '/blog.html'], ['Почему лучше ставить перегородку, а не стену?']], 'Время чтения: 15 минут')
		section.lt 
			.container 
				h1.lt__title Межкомнатные перегородки в&nbsp;квартире: гипсокартон, дерево или&nbsp;блоки
				p Из какого материала лучше создавать дополнительные стены, чтобы разделить жилплощадь на разные зоны
				.lt__img
					+picture(jpg, `${assets}blog-i1`, 'n')
				p
					| Из-за пандемии коронавируса многие россияне перешли на удаленную работу, а школьники и студенты вынуждены учиться дистанционно. Многие столкнулись с нехваткой личного пространства и решили разграничить зоны в квартире. 
					br
					| Для того чтобы разделить жилплощадь на&nbsp;отдельные комнаты, требуются тонкие, относительно легкие, но прочные перегородки.
				p Вместе с экспертами и дизайнерами рассказываем о преимуществах и недостатках материалов, из которых возводят перегородки в&nbsp;квартире.
				.lt__img
					+picture(jpg, `${assets}blog-i2`, 'n')
				h2 Газоблоки и пеноблоки
				p Газоблоки и пеноблоки являются самыми популярными материалами при возведении межкомнатных перегородок. Они являются наиболее прочными и обладают высоким качеством поверхности — перегородки из таких материалов не требуют трудоемкого оштукатуривания. Следует отметить, что газобетон имеет открытые сообщающиеся воздушные поры. С одной стороны, это обеспечивает материалу превосходную паропроницаемость, а с другой — повышает влагопоглощение, делая блоки гигроскопичными. Пенобетон лишен этого недостатка, поскольку воздушные ячейки замкнуты.
				p Пеноблоки и газоблоки выгоднее использовать для возведения межкомнатных перегородок в квартире при перепланировке, так как они наиболее экономичны и просты в момент установки, рассказал руководитель агентства согласования недвижимости и перепланировок GOROD Алексей Паршин. «Такой материал соответствует и установленным законом нормативам. Так, СП 03.23.2003 регламентирует толщину, а СП 2.01.02-85 — нормы противопожарной безопасности. Межкомнатная перегородка должна быть толщиной не менее 10 см, из трудносжигаемых материалов и со звукоизоляцией 40–50 дБ», — пояснил Паршин.
				.lt__compare
					.lt__compare-pluses
						.lt__compare-title Плюсы:
						.lt__compare-item Высокая прочность и влагостойкость;
						.lt__compare-item Возможность возведения криволинейных перегородок.
					.lt__compare-minuses
						.lt__compare-title Минусы:
						.lt__compare-item Низкая скорость возведения перегородки;
						.lt__compare-item Высокий расход кладочного и штукатурного раствора;
						.lt__compare-item Высокий вес перегородки;
						.lt__compare-item Низкое качество поверхности;
						.lt__compare-item Высокая стоимость и&nbsp;сроки отделочных работ.
				.lt__img
					+picture(jpg, `${assets}blog-i3`, 'n')
				h2 Гипс
				p Альтернатива блокам из ячеистого бетона — пазогребневые плиты. Для их производства используется экологический гипс, цементное связующее и легкие наполнители (минеральные или органические). Такие изделия по торцам имеют выступы (гребни) и углубления (пазы), причем они могут быть прямоугольной или трапециевидной формы. Длина плит — 667 мм, высота — 500 мм, толщина — 80 или 100 мм. Качественная продукция отличается высокой геометрической точностью (допустимые отклонения не превышают 0,5–2 мм) и гладкой поверхностью.
				.lt__video
					+picture(jpg, `${assets}blog-i4`, 'n')
					+play-btn('Посмотрите видео о том, как мы используем гипсокартон в работе')
				p
					| Перегородки также делают из несущего каркаса (стальной профиль) и гипсокартонной обшивки. Материал имеет трехслойное строение: гипсовый сердечник между двумя листами прочного и жесткого картона. Выпускается несколько видов подобной продукции: стандартные гипсокартонные листы (ГКЛ), огнестойкие (ГКЛО), влагостойкие (ГКЛВ) и влагоогнестойкие (КГЛВО). ГКЛ применяются в помещениях с влажностью не более 70%. Для повышения огнезащитных характеристик в состав гипсового сердечника добавляют измельченное стекловолокно (стеклосечку) 10–12 г/кв. м.
					br
					| При производстве влагостойкого материала используют пропитанный антисептиком картон и гипсовую композицию, в состав которой входят фунгициды и гидрофобизаторы. ГКЛВ можно использовать во влажной среде (влажность до 90%) при условии, что на обшивку не будет попадать вода. В области ванны или душевой кабины их необходимо покрывать гидроизоляцией и облицовывать плиткой — так, чтобы не оставалось открытых участков и щелей.
				p «Гипсовые перегородки подходят для символического зонирования помещений, так как они менее прочные, чем газоблоки и кирпич. Из такого материала чаще возводят перегородки для гардеробных комнат или кладовых помещений. Преимуществом пазогребневых плит является их легкость и простота монтажа», — пояснил эксперт.
				.lt__compare
					.lt__compare-pluses
						.lt__compare-title Плюсы:
						.lt__compare-item Быстрое возведение по сухой технологии. Особенно важно при косметическом ремонте или сжатых сроках;
						.lt__compare-item Идеально ровная поверхность;
						.lt__compare-item Возможность устройства во внутренних пустотах звукоизоляции из утеплителя;
						.lt__compare-item Возможность возведения криволинейных конструкций;
						.lt__compare-item Паропроницаемость и воздухопроницаемость.
					.lt__compare-minuses
						.lt__compare-title Минусы:
						.lt__compare-item Низкая прочность. Для того чтобы повесить тяжелую полку, необходимо сделать закладные элементы. Углы требуют специального металлического усиления;
						.lt__compare-item Низкая влагостойкость. Даже влагостойкие плиты могут быть подвержены влиянию воды;
						.lt__compare-item Требовательность к соблюдению технологии сборки конструкции и отделке.#[br] Иначе конструкция получается нестабильной и появляются трещины.
		
		+breadcrumb-bot([['Назад ко всем статьям', '/blog.html'],['Назад на главную', '/']])
		section.comments 
			.container 
				.comments__title.h2 Комментарии
				.comments__slider(data-uk-slider)
					ul.uk-slider-items 
						li.comments__slider-item 	
							.comments__comment
								.comments__comment-img.ibg
									+picture(jpg, `${assets}s6-i1`, 'n')
								.comments__comment-title Усольцева Кристина
								.comments__comment-text Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. 
							.comments__comment
								.comments__comment-img.ibg
									+picture(jpg, `${assets}s6-i1`, 'n')
								.comments__comment-title Дмитриев Константин
								.comments__comment-text Текст комментария от читателя статьи в пару строк. Короткий комментарий. Текст комментария от читателя статьи в пару строк.
						li.comments__slider-item 	
							.comments__comment
								.comments__comment-img.ibg
									+picture(jpg, `${assets}s6-i1`, 'n')
								.comments__comment-title Усольцева Кристина
								.comments__comment-text Текст комментария от читателя статьи в несколько строк. Об комментария ателя статьеля статьи в несколько строк. 
							.comments__comment
								.comments__comment-img.ibg
									+picture(jpg, `${assets}s6-i1`, 'n')
								.comments__comment-title Дмитриев Константин
								.comments__comment-text Текст комментария от читателя статьи в пару строк. Короткий комментарий. Текст комментария от читателя статьи в пару строк.
						li.comments__slider-item 	
							.comments__comment
								.comments__comment-img.ibg
									+picture(jpg, `${assets}s6-i1`, 'n')
								.comments__comment-title Усольцева Кристина
								.comments__comment-text Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. Объёмный комментарий. Текст комментария от читателя статьи в несколько строк. 
					+slider-nav
		section.articles 
			.container 
				.articles__title.h2 Другие статьи
				.articles__set
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i1`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i2`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i3`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i4`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i1`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i2`, 'n')
						.articles__item-title Почему лучше ставить перегородку, а не стену?
						.articles__item-time Время чтения: 15 минут

				


