extends modules/layout/_layout

prepend head
	title Шаблон кейса
	meta(name="description", content="Описание страницы")

block header
	+header(7)
block footer
	+footer()
block content
	main.main
		+breadcrumb([['Главная', '/'], ['Кейсы', '/cases.html'], ['Разделили комнаты для семьи с тремя детьми']], 'Время чтения: 15 минут')
		section.lt 
			.container 
				h1.lt__title Разделили комнаты для семьи с&nbsp;тремя детьми
				p Короткое описание кейса: для кого, где, сколько перегородок сделали
				.lt__img
					+picture(jpg, `${assets}blog-i1`, 'n')
				span Дальше даю примерную структуру кейса:
				ul 
					li как обратился заказчик (нативно продаём, что к нам обращаются по рекомендациям)
					li какая проблема (кратко описываем случай, чтобы люди с такими же случаями понимали, что тут про их проблему знают и могут с ней помочь)
					li что решили делать
				.lt__img
					+picture(jpg, `${assets}blog-i2`, 'n')
				h2 Начало работы
				ul 
					li какие перегородки выбрал клиент
					li в каких цветах
					li какое стекло: упоминаем безопасность стекла, какое оно, где изготавливается и почему именно оно.

				.lt__compare
					.lt__compare-pluses
						.lt__compare-title Плюсы стекла: 
						.lt__compare-item Высокая огнестойкость и&nbsp;звукоизоляция;
						.lt__compare-item Большой формат блоков повышает скорость работ;
						.lt__compare-item Быстрое высыхание готовых конструкций;
						.lt__compare-item Легкая обработка при помощи простого инструмента;
						.lt__compare-item Возможность создания арочных проемов без&nbsp;усиливающих элементов;
					.lt__compare-image
						+picture(jpg, `${assets}blog-i5`, 'n')
				.lt__img
					+picture(jpg, `${assets}blog-i3`, 'n')
				h2 Изготовление
				ul 
					li Показываем производство и команду: насколько всё качественно, профессионально
				.lt__slider(data-uk-slider)
					ul.uk-slider-items 
						- for (var i = 1; i <= 5; i++)
							li.lt__slider-item
								+picture(jpg, `${assets}blog-i${i}`, 'n')
					+slider-nav
				h2 Монтаж
				ul 
					li Показываем монтаж пошагово
				.lt__slider(data-uk-slider)
					ul.uk-slider-items 
						- for (var i = 1; i <= 3; i++)
							li.lt__slider-item
								+picture(jpg, `${assets}blog-i${i}`, 'n')
					+slider-nav
				h2 Отзыв заказчика
				.lt__video
					+picture(jpg, `${assets}blog-i5`, 'n')
					+play-btn('Посмотрите 3-х минутный видео-отзыв клиента')
				ul 
					li Показываем ещё раз до/после
					li прикладываем текст видео-отзыва (чтобы те, кто не смотрел видос, всё равно увидели, что мы клёво всё сделали)
					li даём доп.комментарии
		+breadcrumb-bot([['Назад ко всем кейсам', '/cases.html'],['Назад на главную', '/']])
		section.capture 
			.capture__ibg.ibg 
				+picture(jpg, `${assets}capture-bg`, 'sl')
			.container 
				.capture__title.h2 Хотите проконсультироваться по&nbsp;поводу перегородки?
				.capture__subtitle Оставьте заявку, и наш менеджер свяжется с вами
				form.capture__form
					.input-wrap.input-wrap--light 
						label.input-label Имя
						input.input(type="text" name="Имя")
					.input-wrap.input-wrap--light 
						label.input-label Телефон
						input.input.phone(type="tel" name="Телефон")
					.btn-solid-wrap 
						.btn-solid-red-sub
						button.capture__form-btn.btn.btn-solid-red(type="submit") ОСТАВИТЬ ЗАЯВКУ
		section.articles 
			.container 
				.articles__title.h2 Посмотрите другие наши работы
				.articles__set
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i1`, 'n')
						.articles__item-title Кейс №1
						.articles__item-time Время чтения: 10 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i2`, 'n')
						.articles__item-title Кейс №2
						.articles__item-time Время чтения: 10 минут
					a.articles__item.ibg(href="#")
						+picture(jpg, `${assets}blog-i3`, 'n')
						.articles__item-title Кейс №3
						.articles__item-time Время чтения: 10 минут
					
				

				


