extends modules/layout/_layout

prepend head
	title Профессионалы
	meta(name="description", content="Описание страницы")

block header
	+header(3)
block footer
	+footer()
block content
	main.main
		section.s13 
			.s6__ibg.ibg 
				+picture('svg', `${assets}s13-bg`, 'sl')
			.container 
				.s13__title.h2 С нами работают#[br] профессионалы своего дела
				.s13__slider
					ul.uk-slider-items 
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-1`, 'n')
							.s13__slider-name Вырин Сергей
							.s13__slider-pos сборщик компании
							.s13__slider-descr 
								p Сергей занимается сборкой#[br] и упаковкой изделий уже 5 лет. 
								p Мы работаем вместе с ним 2 года,#[br] и можем заверить, что с этой задачей никто не справиться лучше, чем он.
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-2`, 'n')
							.s13__slider-name Астапов Андрей
							.s13__slider-pos мастер монтажных работ
							.s13__slider-descr 
								p Андрей имеет богатый опыт работы в сфере монтажа — более 10 лет.
								p В нашей компании Андрей работает около 6 месяцев, но уже отлично вжился в коллектив#[br] и зарекомендовал себя у наших клиентов, как надёжный мастер.
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-3`, 'n')
							.s13__slider-name Качковский Александр
							.s13__slider-pos начальник производства, основатель компании
							.s13__slider-descr 
								p Человек-герой нашей компании.#[br] Ни один этап работы  не обходится без его чуткого внимания.
								p Он участвует в проектирование проектов, контроле качества выпускаемой продукции, организации и контроле производственных циклов. В DELI работает с истоков и всей душой любит своё дело.
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-4`, 'n')
							.s13__slider-name Качковская Марина
							.s13__slider-pos заместитель директора по&nbsp;технической части, основатель компании
							.s13__slider-descr 
								p Марина, принимает участие в каждом проекте и на всех этапах, касающихся производства.
								p В компании работает с самого основания. Как и другие специалисты DELI использует собственные уникальные технологии.
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-5`, 'n')
							.s13__slider-name Качковская Алина
							.s13__slider-pos выездной специалист
							.s13__slider-descr 
								p Именно Алина проконсультирует Вас, проведет точные замеры#[br] и учтет все ваши желания#[br] и нюансы.#[br] Алина заключила уже более 350 договоров с довольными клиентами.
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
						li.s13__slider-item 	
							.s13__slider-face.ibg 
								+picture(png, `${assets}s13-face-6`, 'n')
							.s13__slider-name Аверин Дмитрий
							.s13__slider-pos мастер компании
							.s13__slider-descr 
								p Дмитрий смонтирует и установит Ваши перегородки. Он занимается монтажом уже более 10 лет, поэтому Вы можете доверить ему установку.
								p В работе он использует инструменты компаний, проверенных временем: это Festool, Milwaukee, Dewalt. 
							a.s13__slider-btn.btn.btn-outline-primary(href="#_0I7rYotTip4" data-app-video) Видео знакомство
					+slider-nav.d-lg-none
		section.capture.capture--light 
			.capture__ibg.ibg 
				+picture(jpg, `${assets}capture-light-bg`, 'sl')
			.container 
				.capture__title.h2 Хотите проконсультироваться#[br.d-none.d-lg-inline] по поводу перегородки? 
				.capture__subtitle Оставьте заявку, и наш менеджер свяжется с вами
				form.capture__form
					.input-wrap.input-wrap--dark
						label.input-label Имя
						input.input(type="text" name="Имя")
					.input-wrap.input-wrap-dark 
						label.input-label Телефон
						input.input.phone(type="tel" name="Телефон")
					.btn-solid-wrap 
						.btn-solid-primary-sub
						button.capture__form-btn.btn.btn-solid-primary(type="submit") Оставить заявку
					.capture__form-policy Нажимая на кнопку, я соглашаюсь с&nbsp;#[a(href=privacyLink) политикой конфиденциальности]

				


